/dist
**/node_modules
/tools/package-lock.json
/docs/_book
/tools/temp/
/ccf_temp
/ccf_modules
**/ccfcfg/ccf_temp/**

/.idea
/docs/devdoc/_book
/docs/apidoc/_book
/src/plugins/appv2/ccfcfg-lua/ccf_temp
yarn.lock
